@import "../styles/data/colors.scss";
@import "../styles/data/fonts.scss";
@import "../styles/data/parameters.scss";

.footer {
  padding-top: 10px;
  height: 60px;
  border-top: $border_style;
  line-height: 60px;

  p {
    margin: 0;
    font-size: $footer_text_fontsize;
    font-family: $footer_text_font;
  }
  .sns {
    width: 30%;
    float: left;
    text-align: left;
    font-size: 12px;
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        display: inline;
        margin-right: 20px;
      }
    }
  }
  .copyright {
    width: 30%;
    float: left;
    text-align: right;

  }
  .logo {
    width: 40%;
    float: left;
    text-align: center;

    img {
      height: 40px;
      width: auto;
      margin-top: 10px;
    }
  }
}
