// @import "../colors/index.scss";
@import "../fonts/index.scss";
// @import "../parameters/index.scss";

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2.5px solid black ;

  .contact {
    width: 33%;
    float: left;
    text-align: left;
    margin: 0;
  }
  .copyright {
    width: 33%;
    float: left;
    text-align: right;
    margin: 0;
  }
  .logo {
    width: 33%;
    float: left;
    text-align: center;
  img {
    height: 35px;
    width: auto;
  }
  }
}
