@import "../styles/data/colors.scss";
@import "../styles/data/fonts.scss";
@import "../styles/data/parameters.scss";


.header_title {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;

  h1 {
    font-size: $header_fontsize;
    letter-spacing: 0.3em;
    font-family: $header_font;
    margin: 50px 0px 0px 0px;
  }

  p {
    margin-top: 0px;
    font-family: $header_text_font;
    font-size: $header_text_fontsize;
  }
}

.header_menu {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: $border_style;
  li {
    list-style-type: none;
    display: inline;
    margin-right: 40px;
    font-family: $header_menu_font;
    font-size: $header_menu_fontsize;
    font-weight: bolder;
  }
}