$header_font: "Bebas";
$header_text_font: "Meiryo";
$header_text_fontsize: 18px;
$header_menu_font: "Bebas";
$header_menu_fontsize: 15px;

$footer_text_font: "Bebas Neue";
$footer_text_fontsize: 16px;

$about_company_font: "Meiryo";
$about_company_fontsize: 12px;

$work_small_text_h3_font: "Bebas Neue";
$work_small_text_h4_font: "Bebas Neue";
$work_small_text_fontsize: 12px;

$skill_h_font :"Bebas";