@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

$header_font: 'Source Sans Pro', sans-serif;
$header_fontsize: 90px;
$header_text_font: 'Noto Serif JP', sans-serif;
$header_text_fontsize: 18px;
$header_menu_font: 'Source Sans Pro', sans-serif;
$header_menu_fontsize: 18px;

$footer_text_font: 'Source Sans Pro', sans-serif;
$footer_text_fontsize: 14px;

$about_company_font: sans-serif;
$about_company_fontsize: 14px;

$work_h_font: 'Source Sans Pro', sans-serif;
$work_small_text_h3_fontsize: 16px;
$work_small_text_h4_fontsize: 12px;
$work_small_text_fontsize: 12px;

$skill_h_font: 'Source Sans Pro', sans-serif;
$skill_p_fontsize: 14px;