@import "../styles/data/colors.scss";
@import "../styles/data/fonts.scss";
@import "../styles/data/parameters.scss";

@import "../components/header_menu.scss";


.contact {
  height: 500px;
  .form {
    form {
      margin-top: 30px;
      input, textarea, button {
        width: 100%;
        margin: 4px 0px 10px 0px;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 2px;
        font-family: Arial, Helvetica, sans-serif; //仮
      }
      input, textarea {
        color: $text_color;
      }
      button {
        width: 60px;
        border: none;
        color: white;
        background-color: $theme_color;
      }
    }
  }
}