@import "../styles/data/colors.scss";
@import "../styles/data/fonts.scss";
@import "../styles/data/parameters.scss";

@import "../components/header_menu.scss";

html {
  padding: 0px 1%;
}
body {
  padding: 0;
  max-width: $site_max_width;
  min-width: $site_min_width;
  margin: 0px auto;
  color: $text_color;
}


.skills_image {
  margin: 30px 0px;
  position: relative;
  img {
    width: 100%;
  }
  .on_image_text{
    width: 240px;
    position: absolute;
    color: white;
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    transform: translate(-100%,-100%);
    h2, p {
      margin:0;
      padding:0;
    }
    h2  {
      font-family: $skill_h_font;
      font-size: 38px;
    }
    p {
      font-size:none;
    }
  }
}

.languages{
  margin-bottom: 100px;
  text-align: left;
  .language, .language_small{
    display: inline-block;
    border-left: $theme_color 5px solid;
    border-right: white 20px solid;
    box-sizing: border-box;
    background: rgb(241, 241, 241);
    margin: 15px auto;
    // margin-right: 10px;
    height: 100px;
    text-align: left;
    h4, p {
      padding: 0px 15px 0px 15px;
      margin: 0;
    }
    h4{
      padding-top: 10px;
      margin-bottom: 6px;
      font-family: $skill_h_font;
      font-size: $skill_h_fontsize;
    }
    p {
      color: $p_text_color;
      font-size: $skill_p_fontsize;
      font-family: $p_text_font;
    }
  }
  .language{
    width: calc((100% / 3) * 3);
  }
  .language_small {
    width: calc((100% / 3) - 0px);
  }
}
