@import "../styles/data/colors.scss";
@import "../styles/data/fonts.scss";
@import "../styles/data/parameters.scss";

@import "../components/header_menu.scss";

html {
  padding: 0px 1%;
}
body {
  padding: 0;
  max-width: $site_max_width;
  min-width: $site_min_width;
  margin: 0px auto;
  color: $text_color;
}

h2, h3, h4 {
  font-family: $work_h_font;
}

.work_big_style1, .work_big_style2 {
  p {
    font-size: $work_big_text_fontsize;
    font-family: $p_text_font;
    color: $p_text_color;
  }

  .work_border {
    border-left: $theme_color 1px solid;
    height: 400px;
    margin: 0 4%;
  }
}

.work_big_style1 {
  margin: 30px auto;
  height: 400px;
  .work_border {
    float: left;
  }
  .work_big_image {
    max-width: 60%;
    height: 400px;
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img {
      width:auto;
      height:auto;
      max-width:100%;
      max-height:100%;
    }
  }
  .work_big_text {
    text-align: center;
    width: 30%;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    p {
      margin: 0px 20px;
    }
  }
}

.work_big_style2 {
  margin: 25px auto;
  height: 400px;
  .work_border {
    float: right;
  }
  .work_big_image {
    max-width: 60%;
    height: 400px;
    float: right;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img {
      width:auto;
      height:auto;
      max-width:100%;
      max-height:100%;
    }
  }
  .work_big_text {
    text-align: center;
    width: auto;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    p {
      margin: 0px 50px;
    }
  }
}

.works{
  margin: 100px 0;
  text-align: center;
  .work_small{
    display: inline-block;
    width:30%;
    margin: 0px 12px 20px 12px;
    .work_small_image {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .work_border {
      border-top: $theme_color 1px solid;
      margin: 5px 0px;
    }
    .work_small_text {
      text-align: left;
      h3, h4, p {
        margin: 0px 0px 5px 0px;
      }
      h3 {
        font-size: $work_small_text_h3_fontsize;
      }
      h4 {
        font-size: $work_small_text_h4_fontsize;
      }
      p {
        color: $p_text_color;
        font-size: $work_small_text_fontsize;
      }
    }
  }
}